<h1>Oups, not a new year :(</h1>
<p>Today is May 4, 2021 and there is 241 days left until next year.</p>

<footer>
	<p>&copy; Copyright 2021 &middot; <a href="{{ path('app_about') }}">About us</a></p>
	
</footer>